{% extends 'base.html' %}
{% block content %}
<div class="container center_LS">
    <h1>Login</h1>

    <form action="/login_user" method="POST">
        <!-- Username section -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i aria-hidden class="far fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
            </div>
        </div>

        <!-- Password section -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
            </div>
        </div>

        <!-- Login & Sign up buttons -->
        <button type="submit" class="btn btn-primary">Login</button>
        <hr>
        <a class="btn btn-info" href="/signup" role="button">Sign up</a>
    </form>
</div>
{% endblock %}