{% extends 'base.html' %}
{% block content %}
<div class="container center_LS">
    <h1>Sign Up</h1>

    <form action="/user_signup" method="POST">
        <!-- Username section -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i aria-hidden class="far fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
            </div>
            {% with errors = get_flashed_messages(category_filter=['username']) %}
            {% if errors %}
            {% for msg in errors %}
            <p class="error">{{msg}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <!-- Password section -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
            </div>
            {% with errors = get_flashed_messages(category_filter=['password']) %}
            {% if errors %}
            {% for msg in errors %}
            <p class="error">{{msg}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <!-- Submit & Back buttons -->
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <hr>
            <a class="btn btn-info" href="/login" role="button">Go Back</a>
        </div>
    </form>
</div>
<!-- <div class="container errors">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div> -->
{% endblock %}