* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0px auto;
    padding: 5px;
}
.leftDiv {
    width: 60%;
    float: left;
}
.rightDiv {
    width: 30%;
    border: 5px solid black;
    height: 400px;
    float: right;
}

    .rightDiv h2 {
        text-align: center;
    }

.centerItems {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#pokeData {
    margin-left: auto;
    margin-right: auto;
    width: 200px;;
    /* border: 1px solid black; */
}

    #pokeData ul li {
        margin-left: 40px;
    }