<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Friends Create Read</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        form {
            width: 60%;
            margin: 0px auto 0px auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>These are all my friends!</h1>
        {% for user in users %}
        <div class="row">
            <div class="col">Username:</div>
            <div class="col">{{user.username}}</div>
        </div>
        <hr>
        {% endfor %}
    </div>
    <form action="/create_user" method="POST">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>