<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Friends Create Read</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        form {
            width: 60%;
            margin: 0px auto 0px auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>These are all my friends!</h1>
        {% for friend in friends %}
        <div class="row">
            <div class="col">First Name:</div>
            <div class="col">{{friend.first_name}}</div>
        </div>
        <div class="row">
            <div class="col">Last Name:</div>
            <div class="col">{{friend.last_name}}</div>
        </div>
        <div class="row">
            <div class="col">Occupation:</div>
            <div class="col">{{friend.occupation}}</div>
        </div>
        <hr>
        {% endfor %}
    </div>
    <form action="/create_friend" method="POST">
        <div class="form-group">
            <label for="first_name">First Name: </label>
            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name: </label>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
            <label for="occupation">Occupation: </label>
            <input type="text" class="form-control" name="occupation" id="occupation" placeholder="Enter Occupation">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>